html,
body {
	height: 100%;
	overflow-x: hidden;
}
body > header {
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
}
body > header > h1,
body > header > h1 > a {
	display: block;
	margin: 0;
	width: 100%;
}
body > header > h1 > a > img {
	display: block;
	margin: 0 auto;
	max-width: 80%;
	max-height: 100vh;
}
body > header > nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 20;
	text-align: right;
}
body > header > nav li > a {
	margin-left: 1em;
	margin-right: 4em;
}
body > main {
	min-height: 100%;
	width: 100%;
}
body > main > section {
	width: 70%;
	margin: auto;
}
@media only screen and (max-width: 700px){
    body > main > section {
        width: 100%;
    }
}

body > main > section > article > header > h1 {
	text-align: center;
}
body > main > section > article > * {
	width: 100%;
	margin: 0 auto;
	padding: 1em;
}
body > main > section > article > header,
body > main > section > article > nav,
body > main > section > article > footer {
	display: none;
}
@media (max-width: 40em) {
	body > header > nav {
		display: none;
	}
}