body > header {
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}
body > header > nav li > a {
	color: #000000;
	font-weight: bold;
}
body > header > nav li > a.hover {
	color: #7b1515;
	background-color: rgba(0, 0, 0, 1.0);
}
body > main > section:first-of-type {
	background-image: url("../img/rf3.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	color: white;
}
body {
	background: black;
	color: white;
}