body > header {
	background-color: rgba(0, 0, 0, 1);
	border-bottom: rgba(0, 0, 0, 0.4) 1px solid;
}
body > header > nav li > a {
	color: #000000;
	font-weight: bold;
}
body > header > nav li > a.hover {
	color: #7b1515;
	background-color: rgba(0, 0, 0, 1.0);
}
body {
	background-image: url("../img/v1.2/background/background1.jpg");
	background-attachment: scroll;
	background-size: cover;
	background-position: center;
	/* color: white; */
	/*-webkit-filter: blur(4px);filter: blur(4px);*/
}
/*
body > main > section:first-of-type {
	background: black;
	color: white;
}
*/
section#merit > figure a,
section#merit > figure a:link,
section#merit > figure a:visited,
section#merit > figure a:hover,
section#merit > figure a:active
 {
	 color: black;
}

